@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imbue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Imbue', sans-serif;
    margin: 0;
    padding: 0;
}

.fondo-blanco {
    background-color: rgba(255, 255, 255, 0.877);
    padding: 10px;
    display: inline-block;
}

header {
    background-color: #f8f8f8;
    color: rgba(8, 7, 7, 0.692);
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav ul li a:hover {
    color: #136131;
}

main {
    padding: 20px;
    text-align: center;
}

h1{
    font-family: 'Imperial Script', cursive;
    font-size: 5rem;
    display: flex;
}

h2{
    font-family: 'Imperial Script', cursive;
    font-size: 4rem;
    display: flex;
}

.fuente-imperial {
    font-family: 'Imperial Script', cursive;
    font-size: x-large;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}


.fondo-principal{
    background-image: url("../assets/img/eucalyptus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.fondo-secundario{
    background-image: url("../assets/img/fondo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* footer */

footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p {
    margin: 10px 0;
    color: #555;
}


/* estilo de footer */


footer .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footer-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .footer-row p {
    flex: 1;
    text-align: center;
}

footer .footer-row p:first-child {
    text-align: left;
}

footer .footer-row p:last-child {
    text-align: right;
}







/* Sección de bienvenida */
.welcome-section {
    text-align: center;
    margin-bottom: 40px;
}

.welcome-text {
    margin-bottom: 20px;
}

.welcome-section img.welcome-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
}

/* Sección de productos destacados */
.featured-section {
    text-align: center;
}

.featured-products {
    display: grid;
    gap: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img {
    width: 100%;
    height: auto;
}

.product p {
    background-color: white;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}

/* Estilos responsivos */

@media (min-width: 481px) and (max-width: 768px) {
    .featured-products {
        grid-template-columns: 1fr 1fr;
    }

    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer .footer-container {
        flex-direction: row;
    }
    
}

@media (min-width: 769px) {
    .welcome-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .welcome-text {
        width: 60%;
    }

    .welcome-section img.welcome-image {
        width: 35%;
        margin: 0;
    }

    .featured-products {
        grid-template-columns: repeat(3, 1fr);
    }

    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer .footer-container {
        flex-direction: row;
    }
}